<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container criar-acao_intencao" style="font-size:small;">
    <h5>Criar {{tipo}}</h5>
    <hr>
    <form id="acao_intencao-form" class="acao_intencao-form" action="" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% endfor %}<br>
        <div id="form-exemplo">
            {{ formset.non_form_errors }}
            {% for dict in formset.errors %}
            {{ forloop.counter }}
                {{ dict }}
            {% endfor %}
            {{ formset.management_form }} 
            {% for form in formset %} 
                {% csrf_token %}
                <div> {{form}} <br> </div>
            {% endfor %}

            <div style="text-align: right; line-height:0">
                <a id="add-exemplo" title="Adicionar exemplo" style="color:#008000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <a id="remove-exemplo" title="Remover exemplo" style="color:#bb0000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </div>
        </div><br>
        <br>
        <div style="text-align:right;">
            <input type="submit" name="submit" value="Criar {{tipo}}" class="btn btn-success">
            <a class="btn btn-danger" href="{% url 'historia' %}">Cancelar</a>
        </div>
    </form>
</div>
 
<script>
    document.querySelector("#acao_intencao-form select option[value='{{tipo}}']").selected = "selected"
    
    const querySelectorHas = (parent, child ) => []
      .filter.call(document.querySelectorAll(parent), 
                   (elem) => elem.querySelector(child))

    exemplos = querySelectorHas("#form-exemplo>div", "input");

    for (var i = 1; i < exemplos.length; i++) {
        if (exemplos[i].querySelector("input").value == "") {
            exemplos[i].hidden = true;
        }
    }

    document.querySelector("#add-exemplo").onclick = function() {
        querySelectorHas("#form-exemplo>div[hidden]", "input[id$=texto]")[0].hidden = false;
    }

    document.querySelector("#remove-exemplo").onclick = function() {
        nodes = querySelectorHas("#form-exemplo>div:not([hidden=''])", "input[id$=texto]");
        enesimo = nodes.length - 1

        if (nodes[enesimo].children[2].value == "" & enesimo > 0) {
            nodes[nodes.length - 1].hidden = true;
        }
    }
    
</script>
