<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container criar-acao_intencao" style="font-size:small;">
    <h5>Criar {{tipo}}</h5>
    <hr>
    <form id="acao_intencao-form" class="acao_intencao-form" action="" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% endfor %}<br>
        <div id="form-exemplo">
            {{ formset.management_form }} 
            {% for form in formset %} 
                {% if forloop.counter > 1 %} 
                {% csrf_token %}
                <div> {{form}} <br> </div>
                {% endif %} 
            {% endfor %}
            <div style="text-align: right; line-height:0">
                <a id="add-exemplo" title="Adicionar exemplo" style="color:#008000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <a id="remove-exemplo" title="Remover exemplo" style="color:#bb0000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </div>
        </div><br>
        <br>
        <div style="text-align:right;">
            <input type="submit" name="submit-e-detalhar" value="Criar e detalhar {{tipo}}" class="btn btn-success">
            <input type="submit" name="submit-e-cadastrar" value="Criar e cadastrar {{tipo}}" class="btn btn-primary">
            <a class="btn btn-danger" href="{% url 'historia' %}">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.querySelector("#acao_intencao-form select option[value='{{tipo}}']").selected = "selected"
    var querySelectorHas = function( parent, child ){
        return [].filter.call( document.querySelectorAll( parent ), function( elem ){
            return elem.querySelector( child );
        });
    }
    exemplos = querySelectorHas("#form-exemplo>div", "input");
    // loop começa em num_exemplo para nunca esconder os elementos já criados
    for (var i = 1; i < exemplos.length; i++) {
        if (exemplos[i].querySelector("input").value == "") {
            exemplos[i].hidden = true;
        }
    }
    document.querySelector("#add-exemplo").onclick = function() {
        querySelectorHas("#form-exemplo>div[hidden]", "input[id$=texto]")[0].show();
    }
    document.querySelector("#remove-exemplo").onclick = function() {
        if (querySelectorHas("#form-exemplo>div:not([hidden=''])", "input[id$=texto]").length > "{{num_exemplo}}") {
            querySelectorHas("#form-exemplo>div:has(input[id$=texto]):not(:hidden):last>input[id$=texto]")[0].value = "";
            nodes = querySelectorHas("#form-exemplo>div:not([hidden=''])", "input[id$=texto]");
            nodes[nodes.length - 1].hidden = true;
        }
    }
</script>
